.footer{
    background-color: black;
    padding: 70px 0;
    position: fixed;
}
    
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.ul{
    list-style-type: none; /* No marker is shown */
}

.footer-col{
    width: 33%;
    padding: 0 150px;
}

.footer-col h3{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    position: relative;
}

.footer-col ul li{
    margin-bottom: 20px;
}
    
.footer-col ul li a{
    font-size: 16px;
    color: grey;
    text-decoration: none;
    margin: 10px 0;
}
    
.footer-col ul li a:hover{
    color: blue;
}
    
.footer-col .social-links a{
    display: inline-block;
    position: responsive;
    height: 40px;
    width: 40px;
    background-color: grey;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    color: white;
}
    
.footer-col .social-links a:hover{
    color: grey;
    background-color: white;
}
    